@{
    ViewData["Title"] = "Home Page";
    var mascota = (List<Mascota>)ViewBag.m;
}
@model List<Mascota>
<form asp-action="Index" method ="GET">
            <div id="menu" class = "row">
            <div class="col-3">
                    <label for="">Sexo</label>
                    <select name="sexo" id="" class="form-control" style="width: 200px;">
                            <option value="0">Seleccionar</option>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                    </select>
            </div>
            <div class="col-3">
                     
                    <label for="">Tamaño</label>
                    <select name="tamano" id="" class="form-control" style="width: 200px;">
                            <option value="0">Seleccionar</option>
                            @foreach (var tamano in (List<Tamano>)ViewBag.Tamano)
                            {
                                <option value="@tamano.Id">@tamano.NombreTamano</option>
                            }
                    </select>
            </div>
            <div class="col-3">
                    <label for="">Tipo de Pelo</label>
                    <select name="tipoPelo" id="" class="form-control" style="width: 200px;">
                            <option value="0">Seleccionar</option>
                            @foreach (var tipoP in (List<TipoPelo>)ViewBag.TipoPelo)
                            {
                                <option value="@tipoP.Id">@tipoP.NombreTipoPelo</option>
                            }
                    </select>
            </div>
            <div class="col-3" style="background-color: azure"><button type="submit" class="btn btn-default">Filtrar</button></div>            
</form>




<h1>Mascotas</h1>
<div>
    @foreach (var m in mascota)
    {
        <div> 
            @m.Nombre
            @m.Edad.NombreEdad
            @m.Tamano.NombreTamano
            @m.TipoPelo.NombreTipoPelo
            @m.Sexo
            <img src="~/imagenes/@m.Foto" alt="">
        </div>
           
        
    }
</div>
